/.bundle/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/doc
.yardoc
!/doc/mail_snapshot_example_1.png
!/doc/response_snapshot_example_thank_you_page.png
!/doc/snapshots_index.png
