<!DOCTYPE html>
<html>
<head>
  <title>Minitest snapshot</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#= stylesheet_link_tag "minitest/snapshot/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
