<main>
  <h1>Snapshots</h1>

  <% if @grouped_by_test_class.blank? %>
    <p>Place `take_screenshot response` in your integration tests after a `response` object is populated and run the tests. Snapshots will appear below.</p>
  <% end %>

  <% @grouped_by_test_class.each do |test_case_name, snapshots| %>
    <h2><%= test_case_name %></h2>

    <ul>
      <% snapshots.each do |snapshot| %>
        <li>
          <%= link_to ViewInspector::SnapshotsHelper.snapshot_path(snapshot) do %>
            <%= snapshot.context.name %>
            <%= if snapshot.context.take_snapshot_index > 0 then "(#{(snapshot.context.take_snapshot_index + 1).ordinalize} in the same test)" end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</main>
