<main>
  <h1>Snapshots</h1>

  <p>
    Tip: If you wish to see how a snapshot behaves with javascript disabled, simply temporarily disable it in browser settings.
  </p>

  <% if @grouped_by_test_class.blank? %>
    <p>Place `take_screenshot response` in your integration tests after a `response` object is populated and run the tests. Snapshots will appear below.</p>
  <% end %>

  <% @grouped_by_test_class.each do |test_case_name, snapshots| %>
    <h2><%= test_case_name %></h2>

    <ul>
      <% snapshots.each do |snapshot| %>
        <li>
          <%= link_to snapshot_path(snapshot.slug) do %>
            <%= snapshot.test_recording.name %>
            <%= if snapshot.test_recording.take_snapshot_index > 0 then "(#{(snapshot.test_recording.take_snapshot_index + 1).ordinalize} in the same test)" end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</main>
