body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size:   20px;
  line-height: 1.7em;
}

body {
  margin: 0;
  padding: 100px 0 100px 100px;
}

h1 {
  margin: 0;
  font-size: 30px;
}

h2 {
  margin: 30px 0 0;
  font-size: 24px;
}

p {
  margin: 18px 0 0;
  color: #666666;
}

ul {
  margin: 3px 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #666666;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  white-space: pre-wrap;
}

a { color: #000; }
a:hover { text-decoration: underline; }

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #ececec;
  }

  pre {
    background-color: #333;
  }

  a { color: #fff; }
  a:hover { color: #fff; text-decoration: underline; }
}
