<h1>Snapshots</h1>

<ul>
  <% @snapshots.each do |snapshot| %>
    <li>
      <%= link_to snapshot_path(snapshot[:slug]) do %>
        <%= snapshot[:test_class] %> - <%= snapshot[:test_case_human_name] %>
      <% end %>
    </li>
  <% end %>
</ul>
